<%= link_to "Достопримечательности Москвы", :controller => "main", :action => "index" %>
<h2 align= "center"> Храм Христа Спасителя </h2>
<img src="img/church1.jpg" align="left" height="240" width="320" hspace="10" vspace="10">
<p align="justify">Кафедральный Соборный храм Христа Спасителя в Москве — кафедральный собор Русской православной церкви недалеко от Кремля на левом берегу реки Москвы, на месте, именовавшемся ранее Чертольем.</p>
<img src="img/church2.jpg" align="right" height="240" width="320" hspace="10" vspace="10">
<p align="justify">Земля и здания комплекса Храма Христа Спасителя принадлежат городу Москве. Оперативное управление комплексом осуществляет фонд Храма Христа Спасителя, который сдаёт часть помещений в аренду сторонним организациям, а также проводит мероприятия, не связанные с деятельностью Русской Православной Церкви. В храме действует музей, принадлежащий Музею истории города Москвы.</p>
<p align="justify">В церковно-административном отношении Храм имеет статус подворья Патриарха Московского и всея Руси; повседневные обязанности настоятеля исполняет ключарь протоиерей Михаил Рязанцев.</p>