<%= link_to "Достопримечательности Москвы", :controller => "main", :action => "index" %>
<H1 align="center">Государственная Третьяковская галерея</H1>
<img src="img/gtg1.jpg" align="left" height="240" width="320" hspace="10" vspace="10">
<p align="justify">Государственная Третьяковская галерея, ГТГ — художественный музей в Москве, основанный в 1856 году купцом Павлом Третьяковым и имеющий одну из самых крупных в мире коллекций русского изобразительного искусства.</p>
<img src="img/gtg2.jpg" align="right" height="240" width="320" hspace="10" vspace="10">
<p align="justify">Частью Третьяковской галереи является Музей-храм Святителя Николая в Толмачах, представляющий уникальное соединение музейной экспозиции и действующего храма. В комплекс музея в Лаврушинском переулке входят предназначенные для временных выставок Инженерный корпус и Выставочный зал в Толмачах. В музее предлагаются услуги аудиогида.</p>