<%= link_to "Достопримечательности Москвы", :controller => "main", :action => "index" %>
<h1 align="center">Московское метро</h1>
<img src="img/metro1.jpg" align="left" height="240" width="320" hspace="10" vspace="10">
<p align="justify">Московский метрополитен, открытый 15 мая 1935 года, - это основа транспортной системы столицы. Он надежно связывает центр города с промышленными районами и жилыми массивами.</p>
<img src="img/metro2.jpg"align="right" height="240" width="320" hspace="10" vspace="10">
<p align="justify">На сегодняшний день метрополитен имеет 187 станций, 27 из которых – узловые. Доля Московского метрополитена в перевозке пассажиров среди предприятий городского пассажирского транспорта столицы составляет 57%.
</p>