<%= link_to "Достопримечательности Москвы", :controller => "main", :action => "index" %>
<H1 align="center">Парк им.Горького</H1>
<img src="img/park.jpeg" align="left"  height="240" width="320" hspace="10" vspace="10">
<p align="justify">Центральный Парк культуры и отдыха им. М.Горького занимает территорию площадью 109 Га и условно делится на две части – партерную и Нескучный сад.<p/>
<p align="justify">История Нескучного сада берет свое начало от появления в 1753 году на участке от Калужской заставы до Москвы-реки усадьбы князя Н.Ю.Трубецкого. Партерная часть Парка обязана своему возникновению инициативе советской власти – организации на этой территории Всероссийской сельскохозяйственной и кустарно-промышленной выставки, открывшейся здесь в 1923 году.</p>
<img src="img/park2.jpg" align="right" height="240" width="320" hspace="10" vspace="10">
<p align="justify"> Планировку парка создавал архитектор-авангардист Константин Мельников.
Парк культуры всегда точно отражал дух времени. И в конце XX века, на смену спортивному задору советских времен, пришло коммерческое настроение постперестроечной России. В Парке появились аттракционы, палатки, маленькие кафе-шашлычные, территория заполнилась рекламными конструкциями, вход стал платным.</p> 
<p align="justify">Тем не менее, парк по-прежнему любили – за тенистые аллеи, славные традиции проводить концерты и заливать зимой каток, за возможность подышать воздухом в центре суетной Москвы.</p>