<%= link_to "Достопримечательности Москвы", :controller => "main", :action => "index" %>
<H1 align="center">ГМИИ имени Пушкина</H1>
<img src="img/pushkin1.jpg" align="left" height="240" width="320" hspace="10" vspace="10">
<p align="justify">В конце 1896 года в столичной печати были опубликованы условия Конкурса на составление проекта здания для Музея изящных искусств имени императора Александра III при Московском университете, который по просьбе университета проводила Петербургская Академия художеств. С этого момента началось осуществление давней мечты о создании в Москве художественно-образовательного общедоступного музея.</p>
<img src="img/pushkin2.jpg" align="right" height="240" width="320" hspace="10" vspace="10">
<p align="justify">В настоящее время собрание ГМИИ им. А.С. Пушкина насчитывает свыше 670 тысяч произведений живописи и скульптуры, графических работ, произведений прикладного искусства, памятников археологии и нумизматики, художественной фотографии.
</p>